/* Header.css */
.header {
    background-color: rgba(245, 245, 245, 0.8);
    padding: 20px;
    border-bottom: 1px solid #ccc;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto 20px;
    font-size: 1.2rem;
    box-shadow: 0 2px 5px #333;
    border-radius: 6px;
  }
  
  .header h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    font-style: italic;
    color: #333;
  }
  
  .header p {
    margin-bottom: 0.5rem;
    line-height: 1.5;
  }
  
  .header p strong {
    font-weight: bold;
    color: #5cb85c;
  }
  